.insuranceCompany {
  position: relative;
  font-weight: 600;
}
.insuranceCompanyParent,
.insuranceInfoParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.insuranceInfoParent {
  width: 111px;
  height: 11px;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.insuranceCompanyParent {
  align-self: stretch;
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-2xs);
  font-size: var(--font-size-4xs);
}
.abcInsuranceCompany {
  position: relative;
  font-weight: 500;
}
.primaryParent {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.vectorIcon,
.vectorIcon1 {
  position: relative;
  height: 20px;
}
.vectorIcon {
  width: 16px;
  cursor: pointer;
}
.vectorIcon1 {
  width: 20px;
}
.frameChild {
  background-color: var(--color-silver);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 26;
  width: 26;
}
.vectorParent {
  width: 102px;
}
.frameGroup,
.frameWrapper,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frameGroup {
  flex: 1;
}
.frameWrapper {
  align-self: stretch;
  background-color: var(--color-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  padding: var(--padding-8xs) var(--padding-5xs);
}
.frameDiv {
  flex: 1;
}
.frameDiv,
.frameParent1,
.frameWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frameParent1 {
  width: 317px;
}
.frameWrapper1 {
  align-self: stretch;
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--color-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  padding: var(--padding-8xs) var(--padding-5xs);
}
.frameParent,
.insurances {
  display: flex;
  flex-direction: column;
}
.frameParent {
  align-self: stretch;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.insurances {
  border-radius: var(--br-smi);
  background-color: var(--color-lightgray);
  width: 343px;
  height: 214px;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-8xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-sf-pro-text);
}
